<!DOCTYPE html>
<html lang="de">

  {% include head.html %}

  <body>

    <main class="wrapper">
      
      {% include header.html %}

      <div class="container">
        {{ content }}

        {% include footer.html %}
      </div>
    
    </main>

    {% include scripts.html %}
    
  </body>


  <script>
      //import LuminousGallery from "{{ '/js/Luminous.min.js' | prepend: site.baseurl }}";
     // var Luminous = require('luminous-lightbox').Luminous;
      //new LuminousGallery(document.querySelectorAll(".gallery-image"));
      //new document.Luminous(document.querySelectorAll(".gallery-image"));

      //new Luminous(document.querySelector(".simple-demo"));
      new LuminousGallery(
        document.querySelectorAll(".gallery-image"),
        {
          arrowNavigation: true
        },
        {
          caption: function(trigger) {
            return trigger.querySelector("img").getAttribute("alt");
          }
        }
      );
      document.querySelectorAll(".lightbox-image").forEach(element => {
        new Luminous(element);
      });
  </script>

</html>
